BODY{BACKGROUND-COLOR: white;FONT-FAMILY: "Verdana", sans-serif;FONT-SIZE: 100%;MARGIN-LEFT: 0px;MARGIN-TOP: 0px}
P{FONT-FAMILY: "Verdana", sans-serif;FONT-SIZE: 70%;LINE-HEIGHT: 12pt;MARGIN-BOTTOM: 0px;MARGIN-LEFT: 10px;MARGIN-TOP: 10px}
.note{BACKGROUND-COLOR:  #ffffff;COLOR: #336699;FONT-FAMILY: "Verdana", sans-serif;FONT-SIZE: 100%;MARGIN-BOTTOM: 0px;MARGIN-LEFT: 0px;MARGIN-TOP: 0px;PADDING-RIGHT: 10px}
A:link{COLOR: #cc6633;TEXT-DECORATION: underline}
A:visited{COLOR: #cc6633;}
A:active{COLOR: #cc6633;}
A:hover{COLOR: #cc3300;TEXT-DECORATION: underline}
H1{BACKGROUND-COLOR: #106581;BORDER-BOTTOM: #81858A 6px solid;COLOR: #ffffff;FONT-SIZE: 130%;FONT-WEIGHT: normal;MARGIN: 0em 0em 0em -20px;PADDING-BOTTOM: 8px;PADDING-LEFT: 30px;PADDING-TOP: 16px}
H2{COLOR: #000000;FONT-SIZE: 80%;FONT-WEIGHT: bold;MARGIN-BOTTOM: 3px;MARGIN-LEFT: 10px;MARGIN-TOP: 20px;PADDING-LEFT: 0px}
UL{COLOR: #000000;FONT-SIZE: 70%;LIST-STYLE: square;MARGIN-BOTTOM: 0pt;MARGIN-TOP: 0pt}
OL{COLOR: #000000;FONT-SIZE: 70%;LIST-STYLE: square;MARGIN-BOTTOM: 0pt;MARGIN-TOP: 0pt}
LI{LIST-STYLE: square;MARGIN-LEFT: 0px;FONT-SIZE: 100%}
LI.toplinks{LIST-STYLE: square;MARGIN-LEFT: 0px;FONT-SIZE: 140%}