BODY{BACKGROUND-COLOR: white;FONT-FAMILY: "Verdana", sans-serif;FONT-SIZE: 100%;MARGIN-LEFT: 0px;MARGIN-TOP: 0px}
P{FONT-FAMILY: "Verdana", sans-serif;FONT-SIZE: 70%;LINE-HEIGHT: 12pt;MARGIN-BOTTOM: 0px;MARGIN-LEFT: 10px;MARGIN-TOP: 10px}
.note{BACKGROUND-COLOR:  #ffffff;COLOR: #336699;FONT-FAMILY: "Verdana", sans-serif;FONT-SIZE: 100%;MARGIN-BOTTOM: 0px;MARGIN-LEFT: 0px;MARGIN-TOP: 0px;PADDING-RIGHT: 10px}
A:link{COLOR: #cc6633;TEXT-DECORATION: underline}
A:visited{COLOR: #cc6633;}
A:active{COLOR: #cc6633;}
A:hover{COLOR: #cc3300;TEXT-DECORATION: underline}

UL{COLOR: #000000;FONT-SIZE: 70%;LIST-STYLE: square;MARGIN-BOTTOM: 0pt;MARGIN-TOP: 0pt}
OL{COLOR: #000000;FONT-SIZE: 70%;LIST-STYLE: square;MARGIN-BOTTOM: 0pt;MARGIN-TOP: 0pt}
LI.toplinks{LIST-STYLE: square;MARGIN-LEFT: 0px;FONT-SIZE: 140%}