div.panel1,p.flip1,div.panel2,p.flip2
{
width:450px;
margin-left: 1px;
padding:5px;
text-align:center;
background:#e5eecc;
border:solid 1px #c3c3c3;
}
div.panel1
{
height:200px;
display:none;
}
div.panel2
{
height:320px;
display:none;
}
